.titulo{
    text-align: left;
    color: #066EC8;
    display: inline-block;
}

.cabecera-tabla{
    background-color: #B6E1F3;
}

table{
    width: 100%;
    height: 100%;
}
.texto-plomo{
    font-size: 11px;
    color: #ADA9A9;
}

.row {
    /*content: "";*/
    height: 82vh;
    overflow-y: scroll; 
    background: white;
  }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-6 {width: 45%;}
}
@media only screen and (min-width: 1100px) {
  /* For desktop: */
  .col-3 {width: 23%;}
}

@media only screen and (min-width: 2700px) {
  /* For desktop: */
  .col-l-2 {width: 15%;}
}