mat-grid-list{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*mat-grid-tile {
  background: white;  
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 80px;
}*/

.mat-grid-tile-content{
    height: 80px;
}

.titulo{
    /*padding-top: 5px;*/
    /*padding-bottom: 0px;*/
    text-align: left;
    color: #066EC8;
    /*border-bottom: 1px solid #066EC8;*/
    display: inline-block;
}

.cabecera-tabla{
    background-color: #B6E1F3;
}

.border-radio{
    border-radius:3px;
}

.cuadro_indicadores{
    border: 4px;
    /*width: 100%;*/
    height: 95%;
    overflow: auto;
    background: white;
    border-radius:5px;
    /*background: white;*/
}

table{
    width: 90%;
}

.texto-plomo{
    font-size: 11px;
    color: #ADA9A9;
}