.example-container {
  position: absolute;
  top: 60px;
  /*bottom: 60px;*/
  bottom: 0px;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-cuadro-indicadores{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.expand-contract{
  position: absolute;
  top:45%;
  left: 0px;;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  font-family: Lato;
}

ng-container{
  background: white;
}