.mapa-estacion {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 50vh;
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title, .example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-agregar-operador{
  background: #066EC8;
    color: white;
}

.contenedor {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.col-2 {
  padding-top: 4px;
  width: 50%;
  display: inline-block;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-1 {
    padding-top: 5px;
    width: 100%;
    display: inline-block;
  }
}
@media only screen and (min-width: 601px)  and (max-width: 1200px) {
  /* For desktop: */
  .col-2 {
    padding-top: 5px;
    width: 50%;
    display: inline-block;
  }
}

@media only screen and (min-width: 1201px){
  /* For desktop: */
  .col-3 {
    padding-top: 5px;
    width: 30%;
    display: inline-block;
  }
}

@media only screen and (min-width: 1501px) {
  /* For tablets: */
  .example-container {
      background:white;
      width: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  /* For tablets: */
  .example-container {
      width: 1500px;
      margin-top: 15px;
      margin-left: 4px;
      background: white;
  }
}