<div class="body">
    <div class="login" style="background-color: white;padding: 45px;">
        <form #loginForm="ngForm">
            <img src="./assets/img/login.png" alt="" width="30%">
            <h2>Monitoreo remoto del proceso de tratamiento de agua para consumo humano</h2>
            <mat-form-field class="ancho" appearance="legacy">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" id="email" name="email" [(ngModel)]="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="legacy">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" matInput autocomplete="off" id="password" name="password" [(ngModel)]="clave">
            </mat-form-field>
            <br>
            <button class="ancho button boton" mat-raised-button (click)="iniciarSesion()">Ingresar</button>
        </form>
    </div>
</div>