.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.login{
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.ancho{
    width: 100%;
}

.button{
    height: 50px;
}

.spinner{
    margin: 0 auto;
}

