<div style="padding-left: 10px;padding-right: 10px"> 
    <h3 class="titulo"><strong>INDICADORES POR ESTACIÓN</strong></h3>
    <span style="font-size: 12px;text-align: left;">Se muestran los indicadores(cloro, ph y temperatura) por cada estación. Cuando el <strong>valor del cloro es menor de 0.5 </strong> se pinta de color rojo caso contrario verde.</span>
</div>
<div class="cuado_indicadores">
  <mat-grid-list [cols]="breakpoint">
    <mat-grid-tile *ngFor= "let e of estacionindicador">
      <table class="mat-elevation-z8">
        <tr>
          <td colspan="2">
            <strong>{{e.nombre}}</strong>
          </td>
        </tr>
        <tr>
          <td>
            Cloro : {{e.cloro}} 
          </td>
          <td>
            <div *ngIf="e.cloro<0.5" style="width: 20px;height:10px;background: red;"></div>
            <div *ngIf="e.cloro>=0.5" style="width: 20px;height:10px;background: green;"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Ph : {{e.ph}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Temperatura : {{e.temperatura}}
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>