<mat-toolbar
  style="background: #066ec8; color: white"
  class="example-toolbar toolbar"
>
  <label>REPORTES</label>
  <span class="example-spacer"></span>
  <button mat-raised-button class="boton" mat-dialog-close>
    <mat-icon>disabled_by_default</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="mat-typography" >
  <form [formGroup]="form" (ngSubmit)="buscar()">
    <div class="contenedor">
        <div class="col-1 col-2 col-3">
          <mat-form-field appearance="legacy">
            <mat-label>Estación</mat-label>
            <mat-select formControlName="idEstacion">
              <mat-option *ngFor="let estacion of estaciones" [value]="estacion.id">
                {{ estacion.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1 col-2 col-3">
          <mat-form-field appearance="legacy">
            <mat-label>Fecha inicio</mat-label>
            <input matInput [matDatepicker]="pickerinicio" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaInicioConsulta"/>
            <mat-datepicker-toggle matSuffix [for]="pickerinicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerinicio></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 col-2 col-3">
          <mat-form-field appearance="legacy">
            <mat-label>Fecha fin</mat-label>
            <input matInput [matDatepicker]="pickerfin" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaFinConsulta"/>
            <mat-datepicker-toggle matSuffix [for]="pickerfin"></mat-datepicker-toggle>
            <mat-datepicker #pickerfin></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1-boton col-2-boton col-3-boton">
          <button mat-raised-button class="boton" type="submit" aria-label="buscar" placeholder="Buscar">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="col-1-boton col-2-boton col-3-boton">
          <button mat-icon-button class="boton" type="button" aria-label="Descargar excel" (click)="descargar()" [disabled]="isDisabled">
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
        <div class="col-1-boton col-2-boton col-3-boton">
          <button mat-icon-button class="boton" type="button" aria-label="Limpiar" (click)="limpiar()" [disabled]="isDisabled">
            <mat-icon>cleaning_services</mat-icon>
          </button>
        </div>
    </div>
  </form>
  
  <div style="width: 100%; overflow-x: scroll;overflow-y: scroll;">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>ESTACION</th>
          <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
        </ng-container>
  
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>FECHA</th>
          <td mat-cell *matCellDef="let row">
            {{ row.fecharegistro | date: "dd-MM-yyyy hh:mm:ss a" }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="cloro">
          <th mat-header-cell *matHeaderCellDef>CLORO</th>
          <td mat-cell *matCellDef="let row">{{ row.cloro }}</td>
        </ng-container>
  
        <ng-container matColumnDef="ph">
          <th mat-header-cell *matHeaderCellDef>PH</th>
          <td mat-cell *matCellDef="let row">{{ row.ph }}</td>
        </ng-container>
  
        <ng-container matColumnDef="temperatura">
          <th mat-header-cell *matHeaderCellDef>TEMPERATURA</th>
          <td mat-cell *matCellDef="let row">{{ row.temperatura }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">{{contenidoTabla}}</td>
        </tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[10]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</mat-dialog-content>

